@import-normalize;

a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
  font-size: 1.1rem;
}

.logo, .logo:hover, .logo:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 30px 20px;
  font-weight: lighter;
  letter-spacing: 0.05rem;
  display: block;
  text-decoration: none;
  color: #989898;
}

.logo svg {
  margin-bottom: -3px;
  margin-left: 16px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main .mainContent {
  padding: 24px;
}

main header {
  border-bottom: 1px solid #efefef;
  padding: 18.5px 24px;
}

main header input {
  border: none;
  display: inline-block;
  font-size: 2rem;
  font-weight: lighter;
  padding: 8px 20px;
  width: calc(100% - 100px);
}

main header input::placeholder {
  font-weight: lighter;
  color: rgb(179, 179, 179);
}

main footer {
  margin-top: auto;
  color: #888;
  text-align: center;
}

.app .pro-sidebar .pro-menu {
  padding-top: 30px;
}

.app .pro-sidebar .pro-menu .pro-menu-item {
  font-size: 1.1rem;
}

.breadcrumbs {
  margin-top: -10px;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 8px;
  color: #989898;
}

.breadcrumbs a {
  color: rgb(99, 99, 99);
}

main form {
  width: auto;
  display: block;
}
main form input, main form textarea {
  margin-top: 30px;
  padding: 8px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main form input[type=text], main form textarea {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #d8d8d8;
}

main form textarea {
  font-size: 1rem;
}