@import-normalize;

a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
  font-size: 1.1rem;
}

.logo, .logo:hover, .logo:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 32px 20px 30px;
  font-weight: lighter;
  letter-spacing: 0.05rem;
  display: block;
  text-decoration: none;
  color: #eeeeee;
}

.logo svg {
  margin-bottom: 6px;
  margin-left: 16px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main .mainContent {
  padding: 24px 24px 48px 24px;
}

main header {
  border-bottom: 1px solid #efefef;
  padding: 18.5px 24px;
}

main header input {
  border: none;
  font-size: 2rem;
  font-weight: lighter;
  padding: 8px 20px;
  width: calc(100% - 200px);
  float: left;
}

main header .userActions {
  float: right;
  width: 200px;
  text-align: right;
  height: 60px;
  line-height: 60px;
}

main header .userActions .action {
  cursor: pointer;
  color: #7e7e7e;
}

main header .userActions .action:hover {
  color: #353535;
}

main header .userActions .action > span {
  font-size: 0.9rem;
}

main header input::placeholder {
  font-weight: lighter;
  color: rgb(179, 179, 179);
}

.app .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: 1px solid rgb(228 228 228 / 30%);
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  color: #575757;
  padding: 10px 20px 10px 0;
}

.app .pro-sidebar, .app .pro-sidebar .pro-menu a {
  color: #a0a0a0;
}

.app .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
  color: rgb(216, 216, 216);
}

.app .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 1px solid rgb(228 228 228 / 30%);
}

.app .pro-sidebar .pro-menu {
  padding-top: 30px;
}

.app .pro-sidebar .pro-menu .pro-menu-item {
  font-size: 1.1rem;
}

.breadcrumbs {
  margin-top: -10px;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 8px;
  color: #989898;
}

.breadcrumbs a {
  color: rgb(99, 99, 99);
}

main form {
  width: auto;
  display: block;
}
main form input, main form textarea {
  margin-top: 30px;
  padding: 8px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main form input[type=text], main form textarea {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #d8d8d8;
}

main form textarea {
  font-size: 1rem;
  margin-top: 10px;
  height: calc(100vh - 300px);
}

main form .btn {
  margin-right: 6px;
}

.showView h2 {
  margin-top: 0;
  font-size: 2.5rem;
  margin-bottom: 5px;
  padding-bottom: 0;
}

.showView .date {
  font-size: 0.9rem;
  color: #989898;
  margin-left: 2px;
  margin-bottom: 16px;
}

main .btn-success {
  background-color: #FF5722;
  border-color: #FF5722;
}

main .btn-success:hover {
  background-color: #b63610;
  border-color: #b63610;
}

.showView .action {
  color: #FF5722;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 15px;
  cursor: pointer;
}

.showView .action:hover {
  color: #b63610;
}

.app .card-deck {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 32px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card, .card a, .card a:hover {
  text-decoration: none;
  color: #353535;
}

.app .card-deck .card {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
  border-radius: 2px;
  transition: box-shadow 250ms ease-in 0s;
  flex: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card:hover {
  box-shadow: -2px 8px 22px 0 rgba(0,0,0,0.25);
}

.card-text {
  font-size: 0.9rem;
  color: #505050 !important;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 8px;
}